.footer {
  bottom: 0;
  background-color: #333;
  color: white;
  z-index: 9999; 
  font-size: 12px;
  height: 120px;
}

.footer-content {
  display: flex;
  width: 100%;
  align-items: center;

  padding: 0 16px;
  flex-direction: column;
     justify-content:center;
     height: 120px;
}

.links {
  text-decoration: none;
  color: antiquewhite;
}

/* Establece un margen en el cuerpo para evitar que el contenido se solape con el footer */
body {
  margin-bottom: 40px; /* Igual al alto del footer para crear espacio en la parte inferior */
}

/* 401px a 768px */
@media (min-width: 401px) and (max-width: 768px) {
  .footer {
    font-size: 14px;
    height: 120px;
  }
  .footer-content {
    flex-direction: column;
     justify-content:center;
     height: 120px;
 
   }
}

/* 769px a 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    font-size: 16px;
  }
}

/* 1025px a 1920px */
@media (min-width: 1025px) and (max-width: 1920px) {
  .footer {
    font-size: 18px;
  }
}
@media screen and (max-height: 700px) {
  /* Ocultar el footer cuando la altura de la ventana es menor que 700px */
  
}
