.dashboard-container {
  width: 100%;
  
}
.expanded-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 80px;
}

.company-name {
  font-size: 18px;
  margin-left: 16px;
}
.menu-items-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.menu-burger {
  display: none;
}

.oculto {
  display: flex;
}
.menu-button {
  display: flex;
  flex-direction: column;
}
.menu-button1 {
  display: flex;
}
.menu-button2 {
  display: flex;
}
@media screen and (min-width: 900px) {
  .menu-button {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 650px) {
  .menu-burger {
    display: block;
  }

  .sidenav-container {
    height: 100%;
    min-height: 300px;
  }

  .sidenav {
    width: 80%; /* Ancho del menú hamburguesa */
    background-color: #fff; /* Color de fondo del menú */
  }

  
  .company-name {
    font-size: 12px;
    
    margin-left: 12px;
  }
  .oculto {
    display: none;
  }

  .menu-items-container {
    display: flex;
    flex-direction: column; /* Establece la dirección vertical */
    gap: 16px; /* Espacio entre elementos */
  }

  .mat-icon {
    vertical-align: bottom;
  }

  .material-icons {
    font-size: 3em;
    padding: 0.2em 0.7em 0.5em 0.1em;
    vertical-align: middle;
  }
  .mat-list-item:first-child {
    padding-top: 1em;
  }
}
