.mat-dialog-title {
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .mat-dialog-actions button {
    margin-left: 10px;
  }
  .scrollable-content {
    max-height: 400px; /* defino altura máxima para el contenedor del formulario*/
    overflow-y: auto; /* agrego barra desplazamiento vertical cuando sea necesario */
  }