<html>

    <div class="containerform">
        <div class="border register">

        <div class="information">
            <div class="info-childs"> 
<h2>Bienvenido </h2>
<p>Para formar parte de nuestro sitio por favor Inicia Sesión con tus datos </p>
<input type="button" value="Iniciar Sesión" id="sign-in">
</div>

    </div>
    <div class="form-information">
        <div class="form-information-childs">
            <h2>
                Crear una Cuenta 
            </h2>
            <div class="icons">
                <img src="./recources/google-logo-24.png" alt="" >

            </div>
        
            <p> usa tu email para registrarte</p>
            <form  class="form ">
                <label >
<input type="text" placeholder="Nombre Completo">

                </label>
                <label >
                    <input type="email" placeholder="Correo Electrónico">
                </label>
                <label >
                    <input type="password"  placeholder="Contraseña">
                </label>
                <input type="submit" value="Registrarse">
            </form>
        </div>
    </div>
    </div>
</div>



<div class="containerform">
    <div class="border login hide">

        <div class="information">
            <div class="info-childs"> 
<h2>Bienvenido Nuevamente!</h2>
<p>Para formar parte de nuestro sitio por favor Registrate </p>
<input type="button" value="Registrarse" id="sign-up">
</div>

    </div>
    <div class="form-information">
        <div class="form-information-childs">
            <h2>
                Iniciar Sesión
            </h2>
            <div class="icons">
                <img src="./recources/google-logo-24.png" alt="" >

            </div>
        
            <p>Iniciar sesión con una Cuenta Registrada </p>
            <form  class="form">
                <label >
                    <input type="email" placeholder="Correo Electrónico">
                </label>
                <label >
                    <input type="password"  placeholder="Contraseña">
                </label>
                <input type="submit" value="Iniciar Sesión">
            </form>
        </div>
    </div>
    </div>
</div>






