.container {
    width: 90%;
    height: 70%;
    margin: auto;
    border: 1px solid #555;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFF;
  
  }
  
  .menu-courses-teacher{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  .students-courses-teacher{
    width: 80%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .ButtonCourse{
    width: 100%;
    margin-top: 10px;

  }
  app-students-course{
    width: 100%;
  }
  .scrollable-container {
    max-height: 90%; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Agrega la barra de desplazamiento vertical cuando sea necesario */
  }
  .couses_list{
    height: 100%;
  }
  
  
  
  
  