<div class="container">
  <div class="menu-courses-teacher">
    <h2>Mis Cursos</h2>
    <mat-card-content class="couses_list">
      <div class="scrollable-container">
        <table>
          <thead>
            <tr>
              <th>Título del Curso</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coursen of myCourses; let i = index">
              <td>{{ coursen.title }}</td>
              <td>
                <button class="ButtonCourse"
                  mat-raised-button
                  color="accent"
                  (click)="Students(coursen.id)"
                  
                >
                  Ver Estudiantes
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </div>
  

</div>
