/* Estilos para dispositivos móviles */

.cards-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cards-mobile .mat-card-actions button {
  margin-right: 10px;
  margin-bottom: 10px;
  /*Margen inferior separa botones verticalmente */
  /* contenido en el centro */
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  /* Evita que el texto se divida en varias líneas */
  margin-right: 0;
  width: auto;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mat-card {
  margin-bottom: 20px;
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mat-card-title {
  font-size: 1.25em;
  font-weight: bold;
}

.mat-card-subtitle {
  font-size: 1em;
}

.mat-card-content {
  font-size: 0.9em;
}

.mat-card-actions button {
  margin-right: 0px;
  width: auto;
  white-space: nowrap;
  margin-bottom: 10px;
  /*Margen inferior separa botones verticalmente */
  /* contenido en el centro */
  display: flex;
  justify-content: center;
}


.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.div-button {
  margin: 5px;
}

.container {
  width: 80%;
  margin: 15px auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 15px;

}

.buscar {

  width: 80%;
}

.menu-courses-teacher {
  padding: 20px;
}

.menu-courses-teacher h2 {
  text-align: center;
}

.mat-card-content {
  padding: 0;
}

.scrollable-container {
  overflow-x: auto;
}

/* Estilos para la tabla */
.mat-table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  text-align: left;
  padding: 10px;
}

/* Estilos para los botones */
.ButtonCourse {
  margin-right: 10px;
  margin-bottom: 10px;
  /* margen inferior separa botones verticalmente */
  min-width: 110px;
  /* Ancho mínimo de los botones */
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

/* Estilos para el paginador */
.mat-paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

/* Estilos para la fila resaltada al hacer hover */
.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

@media (min-width: 650px) {

  .cards-container,
  .cards-mobile {
    display: none;
  }
}

@media (min-width: 651px) and (max-width:1180px) {
  .container {
    width: 98%;
  }

  .ButtonCourse {
    margin-bottom: 0px;
    white-space: normal;
    text-align: center;
    line-height: 1.5;
    min-height: inherit;
  }

  .mat-cell {
    padding: 1px;
  }
}
@media (min-width: 780px) and (max-width:1180px) {
  .ButtonCourse{
    min-width: 138px;
  }
}
@media (max-width: 651px) {
  .container {
    display: none;
  }
}