/* Estilos para dispositivos móviles */
.container {
  display: none;
}
.cards-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cards-container {
 display: flex;
 flex-direction: column;
 align-items: center;
  width: 100%;
}

.mat-card {
  margin-bottom: 20px;
  width: 90%; 
  box-sizing: border-box;
}

.mat-card-title {
  font-size: 1.25em;
  font-weight: bold;
}

.mat-card-subtitle {
  font-size: 1em;
}

.mat-card-content {
  font-size: 0.9em;
}

.mat-card-actions button {
  margin-right: 10px;
}


mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
.div-button{
  margin: 5px;
}


@media (min-width: 650px) {
  .container-mobile{
   display: none;
  }
.container {
  width: 80%;
  margin: 15px auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  
}
.buscar {
  
  width: 80%;
}
.menu-courses-teacher {
  padding: 20px;
}
.menu-courses-teacher h2{
  text-align: center;
}
.mat-card-content {
  padding: 0;
}

.scrollable-container {
  overflow-x: auto;
}

/* Estilos para la tabla */
.mat-table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  text-align: left;
  padding: 10px;
}

/* Estilos para los botones */
.ButtonCourse {
  margin-right: 10px;
}

/* Estilos para el paginador */
.mat-paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

/* Estilos para la fila resaltada al hacer hover */
.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

  
  
}
  
  