
<mat-toolbar color="primary" class="expanded-toolbar-login">
  
    <div class="logo">
      <img src="../../../../assets/img/incubadoranoccirculo.png" alt="Logo" />
      <div class="company-name">Incubadora del N.O.C</div>
    </div>
    


  <div class="button-login">
    <mat-card-header >Acceso a Usuarios</mat-card-header>
    <button mat-raised-button color="accent" routerLink="/auth/login">
      <mat-icon>login</mat-icon>Login
    </button>
  </div>
</mat-toolbar>
<div class="landing-page">
  <div class="images-div">
    <mat-card *ngFor="let image of images" class="card" (click)="redirectToLogin()">
    
        <div class="card-image-container">
          <img class="card-image" [src]="image" alt="Card Image" />
        
        </div>
      
    </mat-card>
  </div>

  
</div>
