<mat-card class="profile-card" *ngIf="profileData">
  <mat-card class="cards">
    <mat-card-header>
      <img
        mat-card-lg-image
        src="https://img2.freepng.es/20180413/ccw/kisspng-computer-icons-user-profile-person-5ad0a067829640.8878511915236219915349.jpg"
      />
      <mat-card-title>{{ profileData.userName }}</mat-card-title>
    </mat-card-header>

    <div>
      <label>Nombre:</label>
      <span>{{ profileData.firstName }}</span>
    </div>

    <div>
      <label>Apellido:</label>
      <span>{{ profileData.lastName }}</span>
    </div>

    <div>
      <label>Email:</label>
      <span>{{ profileData.email }}</span>
    </div>

    <mat-divider></mat-divider>
  </mat-card>

  <mat-card-actions>
    <button mat-button color="primary">
      Modificar Perfil
    </button>
  </mat-card-actions>
</mat-card>
