<div class="tabla">
  <h2>Usuarios Registrados</h2>
  <mat-form-field class="buscar" appearance="standard">
    <mat-label>Filtro</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Buscar"
      #input
      autocomplete="off"
    />
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="firstname">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="column-firstname"
      >
        Nombre
      </th>
      <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="column-lastnamen"
      >
        Apellido
      </th>
      <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="column-username"
      >
        Nombre de usuario
      </th>
      <td mat-cell *matCellDef="let user">{{ user.userName }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="column-email"
      >
        email
      </th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>
    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-rol">
        rol
      </th>
      <td mat-cell *matCellDef="let user">{{ user.roleName }}</td>
    </ng-container>
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef class="column-botton">
        <button mat-raised-button color="accent" (click)="openCreateDialog()">
          Crear Usuario <mat-icon>person_add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let user" class="column-botton">
        <mat-icon
          (click)="openEditDialog(user)"
          matTooltip="Editar"
          class="edit"
          fontIcon="edit"
        ></mat-icon>
        <mat-icon
          (click)="delete(user.id)"
          matTooltip="Eliminar"
          class="delete"
          fontIcon="delete"
        ></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
<div class="card-mobile">
  <h2>Usuarios Registrados</h2>
  <div class="div-button"><button mat-raised-button color="accent" (click)="openCreateDialog()">
    Crear Usuario
    <mat-icon>person_add</mat-icon>
  </button></div>
  <mat-form-field appearance="fill">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off" />
  </mat-form-field>

  <div class="cards-container">
    <mat-card *ngFor="let user of pagedData" class="mat-card">
      <mat-card-content>
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        <p>Nombre de usuario: {{ user.userName }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Rol: {{ user.roleName }}</p>
      </mat-card-content>

      <mat-card-actions>
        
        <button mat-icon-button (click)="openEditDialog(user)" matTooltip="Editar">
          <mat-icon fontIcon="edit"></mat-icon>
        </button>
        <button mat-icon-button (click)="delete(user.id)" matTooltip="Eliminar">
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
