h2 {
    text-align: center;
  }
.buttonCreate{
  display: flex;
  align-items: center;
  justify-content: center;
}

  .tabla {
    display: flex;
    justify-content: center;
    max-height: calc(100vh - 400px);
    overflow-y: auto;

    
  }
.mat-elevation-z8 {
    width: 80%;
    border-collapse:collapse;
    border-spacing: 0;
  }
  
  /* Estilos para las celdas del encabezado */
  .mat-header-cell {
    padding: 10px 15px;
    text-align: left;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
  }
  
  /* Estilos para las celdas de datos */
  .mat-cell {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Estilos para los botones dentro de las celdas */
  .mat-cell button {
    margin: 0;
  }
  
  /* Espacio entre las celdas */
  .mat-cell,
  .mat-header-cell {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  /* Estilos para las filas */
  .mat-row{
    display: table-row;
  }
  .mat-header-row {
    display: table-row;
        position: sticky;
      top: 0;
      background-color: white;
      z-index: 10; 
  }
  
  /* Borde inferior para la última fila */
  .mat-row:last-child .mat-cell {
    border-bottom: none;
  }
  
  /* Cambiar color al pasar el mouse sobre una fila */
  .mat-row:hover {
    background-color: #f5f5f5;
  }