.tabla {
  display: none;
}
.cards-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}
.div-button{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
h2 {
  text-align: center;
  margin-top: 10px;
  font-family: 'arialRounder', sans-serif;
}

.cards-container {
 display: flex;
 flex-direction: column;
 align-items: center;
  width: 100%;
}

.mat-card {
  margin-bottom: 20px;
  width: 80%; 
  box-sizing: border-box;
}

.mat-card-title {
  font-size: 1.25em;
  font-weight: bold;
}

.mat-card-subtitle {
  font-size: 1em;
}

.mat-card-content {
  font-size: 0.9em;
}

.mat-card-actions button {
  margin-right: 10px;
}


mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}





@media (min-width: 650px) {
h2 {
  text-align: center;
  margin-top: 10px;
  font-family: 'arialRounder', sans-serif;
}


.tabla {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  margin: 2px;
  
}
.mat-elevation-z8 {
  width: 90%;
  border-collapse:collapse;
  border-spacing: 0;
}
.buscar {
  width: 80%;
}

.mat-header-cell {
  padding: 10px 15px;
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}


.mat-cell {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}


.mat-cell button {
  margin: 0;
}


.mat-cell,
.mat-header-cell {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}


.mat-row {
  display: table-row;
}
.mat-header-row {
  display: table-row;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}


.mat-row:last-child .mat-cell {
  border-bottom: none;
}


.mat-row:hover {
  background-color: #f5f5f5;
}
.mat-paginator {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
}