
<div class="tabla">
  <h2>Mis Cursos Inscriptos</h2>
  <table mat-table [dataSource]="myCourses" class="mat-elevation-z8">
 

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="column-title">Curso</th>
      <td mat-cell *matCellDef="let course" class="column-title">{{ course.title }}</td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef class="column-description">Descripcion</th>
      <td mat-cell *matCellDef="let course" class="column-description" >{{ course.description }}</td>
    </ng-container>
    <ng-container matColumnDef="daysandhr">
      <th mat-header-cell *matHeaderCellDef class="column-description">Dias y horario</th>
      <td mat-cell *matCellDef="let course" class="column-description" >{{ course.daysAndHours }}</td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef class="column-description">Descripcion</th>
      <td mat-cell *matCellDef="let course" class="column-description" >{{ course.duration }}</td>
    </ng-container>
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef class="column-description">Estado</th>
      <td mat-cell *matCellDef="let course" class="column-description" >
        
        <div *ngIf="course.startCourse">
          <p>Curso iniciado</p>
        </div>
        <div *ngIf="course.startCourse==null">
          <p>Curso No iniciado</p>
        </div>
        
        
      </td>
    </ng-container>
    <ng-container matColumnDef="cancel">
      <th mat-header-cell *matHeaderCellDef class="column-botton">Cancelar</th>
      <td mat-cell *matCellDef="let course" class="column-botton"><button mat-raised-button color="accent">Darse de Baja</button></td>
    </ng-container>
  

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="card-container-mobile">
  <h2>Mis Cursos Inscriptos</h2>

  <div class="cards-mobile">
    <mat-card *ngFor="let course of myCourses" class="mat-card-mobile">
      <mat-card-content>
        <h3 class="card-title-mobile">{{ course.title }}</h3>
        <p class="card-description-mobile">{{ course.description }}</p>
        <p class="card-details-mobile">Días y horarios: {{ course.daysAndHours }}</p>
        <p class="card-details-mobile">Duración: {{ course.duration }}</p>
        <div *ngIf="course.startCourse">
          <p>Curso iniciado</p>
        </div>
        <div *ngIf="course.startCourse==null">
          <p>Curso No iniciado</p>
        </div>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="accent">Darse de Baja</button>
        <button 
              mat-raised-button
              color="primary"
              (click)="payForCourse(course)"
              
            >
              Pagar {{ course.price }}
            </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
